.html {
    max-width: 1080px;
}



/*//////////////    TITRE SUR IMAGE FOND - HOME      ////////////////*/


.titre-home {
    position: absolute;
    top: 20%;
    margin: 35px;
    font-family: "Neutra Display Titling";

}

.makethewebcleaner {
    position: absolute;
    top: 55%;
    margin: 40px;
}


/*//////////////     SPAN DE TABULATION     ////////////////*/

span.tab {
    margin-left: 40px;
}




/*//////////////     PARTIE MAIN     ////////////////*/

/*//////////////     MAIN     ////////////////*/

main {
    margin: 0 20px;
    padding: 80px 0;
}
article {
    padding: 80px 0;
}


/*//////////////     TITRE INTRO     ////////////////*/

h2.intro {
    text-indent: -9999px;
    position: absolute;
}
/*//////////////    MAIN PARAGRAPHES      ////////////////*/

main p,section p,article p {
    margin: 0;
    padding: 50px 0;
}



/*//////////////    NAV   INDEX   ////////////////*/

/*nav.index {
    padding: 80px 0;
    margin: 0 40px;

}*/

nav.index li {
    list-style: none;
    font-size: 2.3 rem;
    text-align: left;


}

ul {
    padding-inline-start: 0;
}

.index ul {
    display: block;
}

nav.index p {
    padding: 0 20px 40px 20px;
    border-radius: 99px;

}



footer p {
    margin: 0 20px;
}

footer div.logo-mmi {
    margin: 0 auto;
}

a.mailto {
    color: white;
    position: relative;
    left: calc(50vw - 0.5*14.4rem);
    bottom: -85px;
    font-size: 1.4rem ;
}

/*//////////////    NAV   INDEX   ////////////////*/



h2 {
    font-family: "Neutra Display Titling";
    display: block;
    margin: 40px;
}

nav.article-suivant {
    max-width: calc(100vw - 2*10px) ;
    margin: 0 40px;
    padding: 60px 0;
}

.article-suivant ul {
    width: 50vw;
    list-style-type: none;
    margin: 0   ;
}

.article-suivant h3 {
    font-family: "Neutra Display Titling";
    font-size: 2.0em;
    margin: 0;
}

.article-suivant h4{
    font-family: "AcuminPro";
    font-size: 1.4em;
    margin: 0;
}
.article-suivant p {
    font-family: "Crimson";
    margin: 0;
}

.article-suivant li {
    margin: 60px 0;
}

.article-suivant button {
    margin: 20px;
    position: relative;
    left: 50vw;
    top: -9rem  ;
}